<div class="repositories" *ngIf="repositories && repositories.length > 0">
    <h3 class="title">Repositories</h3>
    <mat-accordion>
        <!-- <app-repository-item *ngFor="let repository of repositories; let i=index" [repository]="repository"></app-repository-item> -->
        <mat-expansion-panel *ngFor="let repository of repositories; let i=index">
            <mat-expansion-panel-header>
                <mat-panel-title>{{ repository.name }}</mat-panel-title>
                <mat-panel-description>{{ repository.description || 'No description' }}</mat-panel-description>
            </mat-expansion-panel-header>
            <app-repository-item [repository]="repository"></app-repository-item>
        </mat-expansion-panel>
    </mat-accordion>
</div>