<div *ngIf="repository" class="repository-item">
    <mat-tab-group>
        <mat-tab label="Info">
            <div class="repository-item--info">
                <dl class="repository-item--details">
                    <dt class="repository-item--details--title">Name</dt>
                    <dd class="repository-item--details--description">{{ repository.name }}</dd>
                </dl>
                <dl class="repository-item--details">
                    <dt class="repository-item--details--title">Description</dt>
                    <dd class="repository-item--details--description">{{ repository.description }}</dd>
                </dl>
                <dl class="repository-item--details">
                    <dt class="repository-item--details--title">Language</dt>
                    <dd class="repository-item--details--description">{{ repository.language }}</dd>
                </dl>
                <dl class="repository-item--details">
                    <dt class="repository-item--details--title">Created at</dt>
                    <dd class="repository-item--details--description">{{ repository.created_at | date:'fullDate' }}</dd>
                </dl>
                <dl class="repository-item--details">
                    <dt class="repository-item--details--title">Archived?</dt>
                    <dd class="repository-item--details--description">{{ repository.archived ? 'Yes' : 'No' }}</dd>
                </dl>
            </div>
        </mat-tab>
        <mat-tab label="Contribution">
            <div class="repository-item--info">
                <dl class="repository-item--details">
                    <dt class="repository-item--details--title">Watchers</dt>
                    <dd class="repository-item--details--description">{{ repository.watchers_count }}</dd>
                </dl>
                <dl class="repository-item--details">
                    <dt class="repository-item--details--title">Stars</dt>
                    <dd class="repository-item--details--description">{{ repository.stargazers_count }}</dd>
                </dl>
                <dl class="repository-item--details">
                    <dt class="repository-item--details--title">Forks</dt>
                    <dd class="repository-item--details--description">{{ repository.forks_count }}</dd>
                </dl>
                <dl class="repository-item--details">
                    <dt class="repository-item--details--title">Forked?</dt>
                    <dd class="repository-item--details--description">{{ repository.fork ? 'Yes' : 'No' }}</dd>
                </dl>
                <dl class="repository-item--details">
                    <dt class="repository-item--details--title">Default Branch</dt>
                    <dd class="repository-item--details--description">{{ repository.default_branch }}</dd>
                </dl>
            </div>
        </mat-tab>
    </mat-tab-group>
    <div class="button-row">
        <a target="_blank" [attr.href]="repository.html_url" mat-raised-button color="primary">Visit repository on GitHub</a>
    </div>
</div>