.repository-item {
    &--details {
        &--title {
            font-weight: bold;
            display: inline-block;
        }
        &--description {
            display: inline-block;
            text-indent: 0.5em;
        }
    }
    .button-row {
        padding: 1em 0;
    }
}