<div class="user-input">
    <form (submit)="submit($event)">
        <mat-form-field class="user-input--formfield">
            <input matInput placeholder="Github Username" [(ngModel)]="username" name="username">
        </mat-form-field>
        <div class="button-row">
            <button mat-raised-button color="primary">OK</button>
        </div>
    </form>
</div>