<div *ngIf="user">
    <mat-card class="user-card">
        <mat-card-header>
            <div mat-card-avatar class="user-header-image" [ngStyle]="{'background-image': 'url(' + user.avatar_url + ')'}"></div>
            <mat-card-title>{{ user.name }}</mat-card-title>
            <mat-card-subtitle>{{ user.login }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="user-card--details">
                <dl class="user-card--details--definitions">
                    <dt class="user-card--details--title">Bio</dt>
                    <dd class="user-card--details--description">{{ user.bio }}</dd>
                </dl>
                <dl *ngIf="user.email" class="user-card--details--definitions">
                    <dt class="user-card--details--title">Email</dt>
                    <dd class="user-card--details--description">{{ user.email }}</dd>
                </dl>
                <dl class="user-card--details--definitions">
                    <dt class="user-card--details--title">Company</dt>
                    <dd class="user-card--details--description">{{ user.company }}</dd>
                </dl>
                <dl class="user-card--details--definitions">
                    <dt class="user-card--details--title">Location</dt>
                    <dd class="user-card--details--description">{{ user.location }}</dd>
                </dl>
                <dl class="user-card--details--definitions">
                    <dt class="user-card--details--title">Followers</dt>
                    <dd class="user-card--details--description">{{ user.followers }}</dd>
                </dl>
                <dl class="user-card--details--definitions">
                    <dt class="user-card--details--title">Following</dt>
                    <dd class="user-card--details--description">{{ user.following }}</dd>
                </dl>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <a target="_blank" [attr.href]="user.html_url" mat-button>View Profile</a>
        </mat-card-actions>
    </mat-card>
</div>