.user-card {
    width: 50%;
    margin: 0 auto 1em;
    &--details {
        &--definitions {
            margin: 0 0 0.5em;
        }
        &--title {
            font-weight: lighter;
            color: #cccccc;
        }
    }
}
.user-header-image {
    background-size: cover;
}

@media screen and (max-width: 480px) {
    .user-card {
        width: 400px;
    }
}