<mat-toolbar color="primary">
  <span>My Github</span>
</mat-toolbar>
<div>
  <app-input [username]="username" (usernameUpdated)="handleUsernameUpdated($event)" ></app-input>
</div>

<div>
  <app-user [user]="user"></app-user>
</div>

<div>
  <app-repository-list [repositories]="repositories"></app-repository-list>
</div>