@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "reset.css";

.repositories {
    width: 95%;
    margin: 0 auto;
    .title {
        font-weight: bold;
        margin: 0 0 1em;
        font-size: 2em;
        font-family: Arial, Helvetica, sans-serif;
    }
}